* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5% !important;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #00cdce;
  --black-color: #000;
  --white-color: #fff;
  --silver-color: #f0f0f0;

  --header--height: 10rem;

  --font-size-normal: 1.8rem;
  --font-size-heading: 6.4rem;

  --line-height: 3.2rem;
}

/* Edit Bootstrap   */

p,
h1 {
  margin: 0;
  padding: 0;
}

.grid {
  max-width: 120rem;
  margin: 0 auto;
}

.mybtn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 1.2rem 4.8rem;
  border-radius: 5rem;
  min-width: 12rem;
  transition: all 0.5s ease;
}

.mybtn--primary {
  background-color: var(--black-color);
  color: var(--primary-color);
  padding: 0.8rem 3.2rem;
  border-radius: 0;
  font-size: 1.6rem;
}

.mybtn.mybtn--primary:hover {
  color: var(--white-color);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn--text {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* --------------------modal--------------------- */

.my-modal {
  width: 60rem;
  display: none;
}

.modal__wrap {
  text-align: center;
}

.modal__title {
  background-color: var(--primary-color);
  padding: 2rem 0;
}

.modal__title h1 {
  font-size: 4rem;
  color: var(--white-color);
}

.modal__content{
  padding: 2.4rem;
}

.modal__content-img {
  width: 100%;
  margin-bottom: 2.8rem;
}

.modal__content-description {
  font-size: var(--font-size-normal);
  text-align: justify;
  line-height: var(--line-height);
  color: rgba(0, 0, 0, 0.6);
}

/* fancybox */

.fancybox-content {
  padding: 0;
}

.fancybox-button svg {
  color: red;
}
