* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5% !important;
}

:root {
  --primary-color: #00cdce;
  --black-color: #000;
  --white-color: #fff;
  --silver-color: #F0F0F0;

  --header--height: 10rem;

  --font-size-normal : 1.8rem;
  --font-size-heading : 6.4rem;

  --line-height :3.2rem;
}

/* Edit Bootstrap   */

p,
h1 {
  margin: 0;
  padding: 0;
}

.grid {
  max-width: 120rem;
  margin: 0 auto;
}

.mybtn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 1.2rem 4.8rem;
  border-radius: 5rem;
  min-width: 12rem;
  transition: all 0.5s ease;
}

.mybtn--primary {
  background-color: var(--black-color);
  color: var(--primary-color);
  padding: 0.8rem 3.2rem;
  border-radius: 0;
  font-size: 1.6rem;
}

.mybtn.mybtn--primary:hover{
  color: var(--white-color);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn--text {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes counter {
  0% {
    counter-increment: count calc(var(--max-number) * 0);
  }
  5% {
    counter-increment: count calc(var(--max-number) / 20);
  }
  10% {
    counter-increment: count calc(var(--max-number) / 10);
  }
  15% {
    counter-increment: count calc(var(--max-number) / 7);
  }
  20% {
    counter-increment: count calc(var(--max-number) / 5);
  }
  25% {
    counter-increment: count calc(var(--max-number) / 4);
  }
  30% {
    counter-increment: count calc(var(--max-number) / 3);
  }
  35% {
    counter-increment: count calc(var(--max-number) / 2.8);
  }
  40% {
    counter-increment: count calc(var(--max-number) / 2.5);
  }
  45% {
    counter-increment: count calc(var(--max-number) / 2.2);
  }
  50% {
    counter-increment: count calc(var(--max-number) / 2);
  }
  65% {
    counter-increment: count calc(var(--max-number) / 1.8);
  }
  60% {
    counter-increment: count calc(var(--max-number) / 1.6);
  }
  65% {
    counter-increment: count calc(var(--max-number) / 1.5);
  }
  70% {
    counter-increment: count calc(var(--max-number) / 1.4);
  }
  75% {
    counter-increment: count calc(var(--max-number) / 1.3);
  }
  80% {
    counter-increment: count calc(var(--max-number) / 1.25);
  }
  85% {
    counter-increment: count calc(var(--max-number) / 1.15);
  }
  90% {
    counter-increment: count calc(var(--max-number) / 1.1);
  }
  95% {
    counter-increment: count calc(var(--max-number) / 1.05);
  }
  100% {
    counter-increment: count calc(var(--max-number) / 1);
  }
}

@keyframes counter1 {
  0% {
    counter-increment:count 0;
  }
  10% {
    counter-increment: count 1;
  }
  20% {
    counter-increment: count 2;
  }
  30% {
    counter-increment: count 3;
  }
  40% {
    counter-increment: count 4;
  }
  50% {
    counter-increment: count 5;
  }
  60% {
    counter-increment: count 6;
  }
  70% {
    counter-increment: count 7;
  }
  80% {
    counter-increment: count 8;
  }
  90% {
    counter-increment: count 9;
  }
  100% {
    counter-increment: count 10;
  }
}
