* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5% !important;
}

:root {
  --primary-color: #00cdce;
  --black-color: #000;
  --white-color: #fff;
  --silver-color: #dfdfdf;

  --header--height: 10rem;
}

/* Edit Bootstrap   */

p,
h1 {
  margin: 0 ;
  padding: 0 ;
}

.grid {
  max-width: 114rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-align: center; /* (dùng khi dùng thẻ div) */
  padding: 12px 48px;
  border-radius: 50px;
  min-width: 120px;
  transition: opacity 0.2s ease;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn--text {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
