/* -----------------------Header-------------------------- */

.header {
  height: var(--header-height);
  position: fixed;
  width: 100%;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.69);
}

.header .container {
  padding: 0;
  max-width: 120rem;
}

.navbar {
  line-height: initial;
  padding: 0;
}

.header .navbar-brand {
  font-size: 5rem;
  font-weight: 300;
}

.header .navbar-brand span {
  color: var(--primary-color);
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.6rem;
  padding: 0 2rem;
}

.navbar .navbar-nav .nav-item {
  padding: 0 2rem;
}

.navbar .navbar-nav .nav-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background: var(--white-color);
  margin-top: 0.8rem;
  cursor: pointer;
}

.navbar .navbar-nav .nav-item:hover::after {
  animation: fadeOut 0.5s linear forwards;
}

.navbar .navbar-nav .nav-item:hover .nav-link {
  color: var(--primary-color) !important;
}

.navbar .navbar-nav .nav-item:focus-within::after {
  opacity: 0;
}

.navbar .navbar-nav .nav-item:focus-within .nav-link {
  color: var(--primary-color) !important;
}

/* -----------------------Carousel-------------------------- */

.slider .carousel-inner .carousel-item .carousel-img {
  width: 100%;
  height: 100vh;
}

.slider .carousel-inner .carousel-item {
  transition: initial;
  animation: fadeIn 1s ease-in;
}

.carousel-caption {
  top: 50%;
  left: 50%;
  width: 100%;
  right: initial;
  bottom: initial;
  transform: translateY(-50%) translateX(-50%);
  transition: initial;
  animation: fadeIn--text 1s ease-in-out;
}

.carousel-caption h1 {
  font-size: 8rem;
  letter-spacing: 0.4rem;
  margin-bottom: 1.6rem;
}

.carousel-caption p {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.8);
}

.carousel .carousel-indicators {
  top: initial;
  right: initial;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
  margin: 0;
}

.carousel-indicators .carousel-indicators-item {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  opacity: 1;
  transition: initial;
  margin: 1rem;
}

.carousel-indicators .carousel-indicators-item.active {
  background-color: var(--black-color);
  animation: fadeIn 1s ease-in-out;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  background-image: initial;
}

.carousel-control.carousel-control-prev,
.carousel-control.carousel-control-next {
  width: 8rem;
  height: 8rem;
  top: 50%;
  bottom: initial;
  transform: translateY(-50%);
}

.carousel-control.carousel-control-prev {
  left: 6rem;
}

.carousel-control.carousel-control-next {
  right: 6rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
  height: 100%;
}

.carousel-control-prev-icon i,
.carousel-control-next-icon i {
  font-size: 4.8rem;
  line-height: 8rem;
}

/* -----------------------About-------------------------- */

.about {
  padding: 7rem 0;
}

.about__container {
}

.about__title {
  text-align: center;
  margin-bottom: 4.4rem;
}

.about__title h1 {
  font-size: var(--font-size-heading);
  font-weight: 400;
}

.about__list {
}

.about__list.about__list-card {
  display: flex;
  margin-bottom: 2.8rem;
}

.about__item-content {
  text-align: center;
}

.about__item-title {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 2.8rem;
  font-weight: 400;
}

.about__item-card {
  width: calc(100% / 3);
}

.about__item-card .about__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.2rem;
}

.about__item-icon {
  width: 10rem;
  height: 10rem;
  border: 0.1rem solid #7f7777;
  border-radius: 50%;
  margin-bottom: 1.2rem;
  transition: all 0.5s ease;
}

.about__item-icon:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.about__item-icon i {
  line-height: 10rem;
  font-size: 2.8rem;
}

.about__item-description {
  font-size: var(--font-size-normal);
  line-height: var(--line-height);
}

.about__item-card .about__item-description {
  color: rgba(0, 0, 0, 0.5);
}

/* -----------------------Stats-------------------------- */

.stats {
  background-color: var(--primary-color);
  padding: 7rem 0;
}

.stats__container {
}

.stats__title {
  text-align: center;
  margin-bottom: 4.4rem;
}

.stats__title h1 {
  font-size: 6.4rem;
  font-weight: 400;
}

.stats__list {
  display: flex;
}

.stats__item {
  width: 25%;
  text-align: center;
  padding: 0 1.6rem;
}

.stats__item-content {
}

.stats__item-number {
  font-size: 6rem;
  color: var(--white-color);
  letter-spacing: 0.8rem;
}

.stats__item-number--client ::after {
  --max-number: 245;
  font-size: 40px;
  content: counter(count);
  color: #fff;
  animation: counter 1s linear forwards;
  counter-reset: count 0;
}

.stats__item-info {
  font-size: 3.2rem;
  margin-top: 0.8rem;
}

/* -----------------------Blog-------------------------- */

.blog {
  padding: 7rem 0;
}

.blog__title {
  text-align: center;
  margin-bottom: 4rem;
}

.blog__title h1 {
  font-size: 6.4rem;
  font-weight: 400;
}

.blog__list {
  display: flex;
}

.blog__item {
  width: calc(100% / 3);
  padding: 0 1.6rem;
}

.blog__item-content {
  border-top: 0.5rem solid var(--primary-color);
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.08);
}

.blog__item-img {
  width: 100%;
  display: block;
}

.blog__item-detail {
  background-color: var(--silver-color);
  padding: 2rem;
}

.blog__item-link {
  color: var(--primary-color);
  font-size: 2.4rem;
  transition:all 0.6s ease;
}

.blog__item-link:hover {
  color: var(--black-color);
  text-decoration:none;
}

.blog__item-description {
  font-size: var(--font-size-normal);
  color: rgba(0, 0, 0, 0.5);
  line-height: var(--line-height);
  margin-bottom: 1.2rem;
}

/* -----------------------Video-------------------------- */

.video {

}

.video__container {
  display: flex;
  height : 40rem;
}

.video__list.video__list--left {
  width: 45%;
}

.video__list--left .video__item-content {
  background: url(../images/video.jpg) top center / cover no-repeat;
  width: 100%;
  height: 40rem;
  position: relative;
}

.video__list--left button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mybtn.mybtn--video-play {
  background-color: rgba(0, 204, 204,0.5);
  padding: 0;
  min-width: 7rem;
  height: 7rem;
  border-radius: 50%;
  
}

.video__list--left .mybtn--video-play i {
  font-size: 3.2rem;
  line-height: 7rem;
}

.video__list.video__list--right {
  width: 55%;
  background-color: var(--primary-color);
  padding: 6rem;
}

.video__list--right .video__item {
  text-align: center;
}

.video__list--right .video__item-content {
  
}

.video__list--right .video__item-title {
  font-size: 4.8rem;
  margin-bottom: 2.8rem;
}

.video__list--right .video__item-description {
  font-size: var(--font-size-normal);
  line-height: var(--line-height);
  margin-bottom: 1.6rem;
  color: var(--white-color);
}